Lib/
Include/
Scripts/
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
*.env
"pyvenv.cfg" 
"share/" 
"pyvenv.cfg" 
"fine_tuned_hate_speech_model/pytorch_model.bin" 
"fine_tuned_hate_speech_model/pytorch_model.bin" 
"fine_tuned_hate_speech_model/pytorch_model.bin" 
"fine_tuned_hate_speech_model/pytorch_model.bin" 
"fine_tuned_hate_speech_model/pytorch_model.bin" 
